# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

In [65]:
# Python의 리스트(List) 타입의 데이터 생성하기
data = [3,5,1,2]
data

[3, 5, 1, 2]

In [66]:
# Pandas의 Series 타입의 데이터 생성하기
pandas.Series([3,5,1,2])

NameError: name 'pandas' is not defined

In [67]:
# pandas 라이브러리 임포트하기 (1)
import pandas

In [68]:
pandas.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [69]:
# pandas 라이브러리 임포트하기 (2)
import pandas as pd

In [70]:
pd.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [71]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series
Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [72]:
arr = [3,5,1,2] # 파이썬의 리스트 타입 변수
data1 = Series(arr)

In [73]:
data1

0    3
1    5
2    1
3    2
dtype: int64

In [74]:
data1.index = ['a','b','c','d']

In [75]:
data1

a    3
b    5
c    1
d    2
dtype: int64

In [76]:
#data1 = Series([3,5,1,2], ['a','b','c','d'])
data1 = Series(data = [3,5,1,2], index = ['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

In [77]:
data1 = Series(data = [3,5,1,2], index = ['a','b','c', 'd'])
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [78]:
arr2 = (3,5,1,2) # 튜플 타입의 데이터 생성
data2 = Series(arr2)
data2

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [79]:
arr3 = {
    'a':3,
    'b':5,
    'c':1,
    'd':2   
} # Dict(사전) 타입의 데이터 생성
data3 = Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [80]:
type(data3.values)

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [81]:
Series(['big data', 10, 3.5, [1,2,3], {'a':5, 'b':3}, Series([1,2,3])])

0                             big data
1                                   10
2                                  3.5
3                            [1, 2, 3]
4                     {'a': 5, 'b': 3}
5    0    1
1    2
2    3
dtype: int64
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [82]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [83]:
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [84]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [85]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [86]:
sample.dtype

dtype('int64')

In [87]:
Series(['a','c']).dtype # dtype('O') = Object (문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우)

dtype('O')

In [88]:
Series([3, 5.3, 'abc'])

0      3
1    5.3
2    abc
dtype: object

In [89]:
Series([3, 5.3])

0    3.0
1    5.3
dtype: float64

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [90]:
sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [91]:
sample.max()

100

In [92]:
#sample.mean()
sample.agg('mean')

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [93]:
sample.add_prefix('big-')

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [94]:
sample.add_prefix(prefix = 'big-')

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [95]:
sample2 = sample.add_prefix(prefix = 'big-')

In [96]:
sample2

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [97]:
sample.value_counts()

90     3
85     2
95     1
45     1
75     1
55     1
100    1
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [98]:
sample.add(100)

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [99]:
sample.add([5,5,5,5,5,10,10,10,10,10])

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [100]:
sr = Series(80, index = ['k'])
sr

k    80
dtype: int64

In [101]:
sample.append(sr)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [102]:
sample.isin([85])

a     True
b    False
c    False
d    False
e    False
f    False
g    False
h     True
i    False
j    False
dtype: bool

In [103]:
# data가 [85, 90] 에 포함여부 출력
sample.isin([85, 90])

a     True
b     True
c    False
d    False
e    False
f     True
g    False
h     True
i     True
j    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [104]:
80 in sample.values

False

In [105]:
85 in sample.values

True

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [106]:
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [107]:
# 80 이상이면 Good, 80 미만이면 Bad로 변경하는 함수
def get_grade(val):
    if val >= 80:
        return 'Good'
    else:
        return 'Bad'

In [108]:
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

In [109]:
# 익명함수(람다 함수) 활용
sample.apply(lambda val: 'Good' if val >= 80 else 'Bad')

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [110]:
# 숫자 인덱스
sample[2]

75

In [111]:
# 인덱스 라벨로 선택 가능
sample['c']

75

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [112]:
# 3,5,7번째 데이터를 선택하기
sample[[2,4,6]]

c    75
e    45
g    95
dtype: int64

In [113]:
sample[['c','e','g']]

c    75
e    45
g    95
dtype: int64

In [114]:
# c부터 g까지의 데이터 선택
sample[['c','d','e','f','g']]

c    75
d    55
e    45
f    90
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [115]:
# sample의 맨 앞에 5개 데이터 선택
#sample[0:5]
sample[:5]

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [116]:
sample['a':'e']

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [117]:
# sample의 맨 뒤에 있는 3개의 데이터 선택
#sample[7:10]
#sample[7:]
sample[-3:]

h     85
i     90
j    100
dtype: int64

In [118]:
# c부터 g까지의 데이터 선택
#sample[['c','d','e','f','g']]
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [119]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True]

In [120]:
sample[boolean_idx]

f     90
g     95
h     85
i     90
j    100
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [121]:
sample >= 90

a    False
b     True
c    False
d    False
e    False
f     True
g     True
h    False
i     True
j     True
dtype: bool

In [122]:
sample[sample >= 90]

b     90
f     90
g     95
i     90
j    100
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [123]:
# 1) 평균값 구하기
sample.mean()

81.0

In [124]:
# 2) 불리언 인덱스를 생성
bool_idx = sample > sample.mean()

In [125]:
sample[bool_idx]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [126]:
cond_50_80 = (sample >= 50) & (sample <= 80)

In [127]:
sample[cond_50_80]

c    75
d    55
dtype: int64

=============================================================
# 실습 문제

In [2]:
import random

In [4]:
from pandas import Series

In [5]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    67
B    36
C    52
D     5
E    64
F    38
G    15
H     1
I    57
J    70
K    88
L    16
M    81
N    26
O    31
P    56
Q    44
R    75
S    48
T    51
U    41
V     3
W    68
X    83
Y    85
Z    19
dtype: int64

In [9]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

88

In [12]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    67
F    38
C    52
dtype: int64

In [14]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    38
G    15
H     1
I    57
J    70
K    88
L    16
M    81
N    26
O    31
P    56
dtype: int64

In [18]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V     3
W    68
X    83
Y    85
Z    19
dtype: int64

In [23]:
# 5) data의 항목의 갯수를 출력
#len(data)
data.size

26

In [29]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
#data.mean()
#data
data[data >= data.mean()]

A    67
C    52
E    64
I    57
J    70
K    88
M    81
P    56
R    75
S    48
T    51
W    68
X    83
Y    85
dtype: int64

In [49]:
# 7) data의 항목 값 중에 52이 있는지 확인하여, 있으면 True, 없으면 False를 출력

#15 in [10, 20, 30]
52 in data.values

True

In [48]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
for idx, val in data.items():
    print('index:', idx, ', value:', val)

index: A , value: 67
index: B , value: 36
index: C , value: 52
index: D , value: 5
index: E , value: 64
index: F , value: 38
index: G , value: 15
index: H , value: 1
index: I , value: 57
index: J , value: 70
index: K , value: 88
index: L , value: 16
index: M , value: 81
index: N , value: 26
index: O , value: 31
index: P , value: 56
index: Q , value: 44
index: R , value: 75
index: S , value: 48
index: T , value: 51
index: U , value: 41
index: V , value: 3
index: W , value: 68
index: X , value: 83
index: Y , value: 85
index: Z , value: 19

In [50]:
for i in range(len(data)):
    print('index: {},  value: {}'.format(data.index[i], data.values[i]))

index: A,  value: 67
index: B,  value: 36
index: C,  value: 52
index: D,  value: 5
index: E,  value: 64
index: F,  value: 38
index: G,  value: 15
index: H,  value: 1
index: I,  value: 57
index: J,  value: 70
index: K,  value: 88
index: L,  value: 16
index: M,  value: 81
index: N,  value: 26
index: O,  value: 31
index: P,  value: 56
index: Q,  value: 44
index: R,  value: 75
index: S,  value: 48
index: T,  value: 51
index: U,  value: 41
index: V,  value: 3
index: W,  value: 68
index: X,  value: 83
index: Y,  value: 85
index: Z,  value: 19